@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700);

/*========================
main
========================*/

main {
  margin: auto;
  align-content: center;
  max-width: 1000px;
  width: 100%;
}



/*========================
header
========================*/

header {
  background-color: black;
  height: 100px;
  margin-bottom: 20px;
}

header h1 {
  border-bottom: 1px white solid;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
  line-height: 1;
  margin: 0 0 0 10%;
  padding: 50px 0 5px;
  text-align: right;
  text-transform: uppercase;
  width: 30%;
}


/*========================
h2, h3, h4, h5, h6...
========================*/

h2 {
  border-bottom: 1px black solid;
  font-family: 'Droid Serif', serif;
  margin: .5em auto;
  min-height: 1.5em;
  text-align: left;
  text-transform: uppercase;
  text-indent: .5em;
}

h2 span {
  font-size: 14px;
  text-align: center;
  text-transform: lowercase;
}

h3 {
  display: inline-block;
  font-size: 16px;
  margin: auto;
  text-indent: 1em;
  text-transform: capitalize;
}

h5 {
  font-size: 12px;
  margin: 1em 1em 0;
  text-align: center;
  text-transform: capitalize;
}

h4 {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}

h5 span {
  text-transform: none;
}

h6 {
  border-bottom: 5px solid #add8e6;
  display: inline-block;
  font-size: 12px;
  line-height: .5;
  margin: auto;
  padding: 0;
  text-align: center;

}



/*========================
Body Content
========================*/

[class*='col-'] {
  border: 1px;
  border-top: 10px;
  border-color: black;
  border-style: solid;
  margin: 0 20px 20px 0;
}

.col-1 {
  float: right;
  height: 1500px;
  margin: 0;
  width: 13%;
}

.col-5-5 {
  float: left;
  height: 637.5px;
  /*margin: auto;*/
  width: 80.5%;
}

.col-2-75 {
  /*clear: both;*/
  float: left;
  height: 225px;
  /*margin: auto;*/
  width: 39.25%;
}

.col-2-75-2 {
  clear: left;
  float: left;
  height: 375px;
  /*margin: auto;*/
  width: 39.25%;
}

.col-2-75-3 {
  float: left;
  height: 675px;
  /*margin: auto;*/
  width: 39.25%;
}


/*========================
Links and Images
========================*/

.links {
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  background-color: gray;
  margin: 0 10px 10px 10px;
  opacity: .5;
  text-align: center;
  width: 78.5%;
  /*padding-right: 1em;*/
}



/*========================
Copy
========================*/

p {
  display: block;
  font-size: 14px;
  margin: 0 1em;
}

p span {
  text-transform: uppercase;
}
